
@{
    ViewBag.Title = "Error";
}
<div class="container-fluid">

    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="404">404</div>
        <p class="lead text-gray-800 mb-5">@CMS.Resources.Dil.sayfabulunamadi</p>
        <p class="text-gray-500 mb-0">@CMS.Resources.Dil.d04mesaj</p>
        <a href="/Admin">&larr; @CMS.Resources.Dil.anasayfayadon</a>
    </div>

</div>

